.foto-fix {
    margin-top: 5px;
    width: 150px;
    height: 150px;
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelFile {
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
}

input[type=file] + .labelFile {
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
}

input[type=file]:focus + .labelFile, input[type=file] + .labelFile:hover {
    background-color: #afafaf;
    transition: all .3s;
}

.btnSendPhoto {
    height: 40px;
    border-radius: 8px;
    margin-left: 20px;
    padding: 0 8px;
    border: none;
    background-color: white;
}

.btnUpdate {
    position: absolute;
    right: 180px;
    justify-self: end;
    width: 139px;
    height: 51px;
    opacity: 0.8;
    border-radius: 7px;
    border: none;
    background-color: #d95032;
}

.btnUpdate, .btnCancel, .btnDelete, .btnNewEvento {
    border-radius: 8px;
    border: none;
}

.btnUpdate {
    background-color: #d95032;
    color: #000;
}

.btnCancel {
    background-color: #f2d272;
    color: #000;
}

.btnDelete {
    background-color: #db2d07;
    color: white;
}

.btnNewEvento {
    background-color: white;
}


















.text-esquerda {
    margin-top: 20px;
    margin-left: 170px;
}

.cpf-wrapper {
    margin-left: 19px;
    margin-bottom: 31px;
    width: 650px;
    height: 51px;
    opacity: 0.5;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 7px;
    background-color: white;
}

.username-wrapper {
    margin-left: 150px;
    margin-bottom: 31px;
    height: 51px;
    width: 650px;
    opacity: 0.5;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 7px;
    background-color: white;
}

.items-esquerda {
    margin-left: 150px;
    margin-bottom: 31px;
    height: 51px;
    width: 650px;
    opacity: 0.7;
    border-style: solid;
    border-width: 10px;
    border-color: #f2937e;
    border-radius: 7px;
    background-color: #f2937e;
}

.text-direita {
    margin-left: 39px;
    margin-top: 20px;
}

.items-direita {
    margin-left: 19px;
    margin-bottom: 31px;
    width: 650px;
    height: 51px;
    opacity: 0.7;
    border-style: solid;
    border-width: 10px;
    border-color: #f2937e;
    border-radius: 7px;
    background-color: #f2937e;
}



.form-check {
    margin-bottom: 10px;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: white;
    display: inline-block !important;
}
