<footer class="bg-hde">
	<div class="container text-center pt-3">
    	<div class="row">
      		<div class="col-md-12">
        		<div class="flex-center">
			        <i class="fa fa-whatsapp fa-lg mr-md-5 mr-3 fa-2x" style="color:#333;"></i>
			        <i class="fa fa-envelope fa-lg mr-md-5 mr-3 fa-2x" style="color:#333;"></i>
		          	<i class="fa fa-github fa-lg mr-md-5 mr-3 fa-2x" style="color:#333;"></i>
		          	<img src="/horadoevento/assets/icons/helperCabeca.svg" style="width:60px;">
        		</div>
      		</div>
   		</div>
	</div>
	<div class="footer-copyright text-center py-3">
	  	&copy; 2020 Copyright Hora do Evento
	</div>
</footer>