body {
	background-color: #7196cb;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment : fixed;
	background-image: url("/horadoevento/assets/backgrounds/city-default.jpg");
}

#textoUsuario {
	display: block;
}

#helperUsuario {
	display: block;
	position: absolute;
	height: 150px;
	top: 300;
	right: -200 !important;
	
}

#textoEmpresa {
	display: none;
}

#helperEmpresa {
	display: none;
	position: absolute;
	height: 150px;
	top: 300;
	right: -200 !important;
}

.btn-cadastro {
	background-color: #F2D272;
	width: 200px;
	height: fit-content;
	opacity: 0.8;
	border: none;
	color: black;
	position: absolute;
	margin-left: 40px;
	left: 20;
}

.btn-start {
	background-color: #d95032;
	width: 170px;
	height: fit-content;
	margin-top: 5px;
	margin-left: 300px;
	opacity: 0.8;
	border: none;
	color: black;
	position: absolute;
	right: 20;
}

.btn-login {
	border: none;
	position: absolute;
	right: 4px;
	top: 10px;
}

.container{
	margin-top: 100px;
}
