body {
	background-color: #7196cb;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment : fixed;
	background-image: url("/horadoevento/assets/backgrounds/city-default.jpg");
}

#textoUsuario {
	display: block;
}

#helperUsuario {
	display: block;
}

#textoEmpresa {
	display: none;
}

#helperEmpresa {
	display: none;
}

.btn-cadastro {
	background-color: #F2D272;
	width: 200px;
	height: fit-content;
	opacity: 0.8;
	border: none;
	color: black;
	position: relative;
	left: 20;
}

.btn-start {
	background-color: #d95032;
	width: 170px;
	height: fit-content;
	opacity: 0.8;
	border: none;
	color: black;
	position: relative;
	right: 20;
}