body { background-image: url("../assets/backgrounds/city.svg"); }

form{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 550px;
    align-items: center;
    max-width: 539px;
}

.simpleNavbar{
    margin-top: 114px;
    margin-bottom: 83px;
}

.labels{
    align-self: flex-start;
 }

.inputEmail{
    border-radius: 7px;
    background-color: #f2937e;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 31px;
    opacity: 0.7;
    width: 537px;
    height: 51px;
}

.inputSenha{
    border-radius: 7px;
    background-color: #f2d272;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 31px;
    opacity: 0.7;
    width: 537px;
    height: 51px;
}

button {
    position: absolute;
    right: 0;
    margin-top: 83px;
    cursor: pointer;
    font-size: 14px;
    width: 160px;
    height: 32px;
    border-radius: 7px;
    opacity: 0.8;
    background-color: #d95032;
}

.sprite{
    position: absolute;
    right: 0;
}

.dialog{
    margin-right: 100px;
}

.helper{
    max-height: 154px;
    max-width: 400px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

