@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body {
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}

button { outline: none; }

.bodyContent {
	background-color: rgba(255, 255, 255, 0);
}


.navbar {
	background-color: #f2937e;
	height: 50px;
	width: 100%;
	max-width: 100vw;
	min-width: 100vw;
	padding: 10px 1% 10px 1%;
	display: flex;
	align-items: center;
}

.navbar div {
	width: 32%;
	height: 30px;
	margin: 0;
	padding: 0;
}

.navbar div form {
	height: 100%;
	align-items: center;
	background-color: #fff;
	display: flex;
}

.navbar div form button {
	height: 30px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
}

.navbar div form input {
	width: 100%;
	height: 24px;
	margin: 0;
	border: 2px solid #fff;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

.navbar div form input:active, .navbar div form input:focus {
	color: #000;
	outline: none;
}

#searchArea {
	padding-right: 20px;
}

#centerText {
	display: flex;
	justify-content: center;
	align-items: center;
}

#centerText p {
	margin-right: 5px;
}

#userArea {
	text-align: end;
}

#userArea button {
	background-color: transparent;
	border: 0;
}


/* NAVBAR SIMPLES, SOMENTE COM O TITULO PRINCIPAL E AMPULHETA */
.simpleNavbar {
	width: 100%;
	padding: 10px;
	background-color: transparent;
	text-align: center;
	align-items: center;
}


/* FOOTER COMPLETO: TEXTO, EMPRESAS E HELPER*/
.fullFooter {
	width: 100%;
	max-width: 100vw;
	min-width: 100vw;
	display: flex;
	align-items: center;
	padding: 10px 1% 10px 1%;
	background-color: #d94e4e;
}

.fullFooter div {
	width: 32%;
	height: 64px;
	margin: 0;
	padding: 0;
}

.fullFooter div p {
	max-width: 90%;
	height: 100%;
}

.fullFooter #companies button {
	width: 64px;
	height: 64px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid transparent;
}

.fullFooter #companies button:active, .fullFooter #companies button:focus {
	border: 1px solid #f2d272;
}

.fullFooter #companies {
	text-align: center;
}

.fullFooter #btnAddCompany {
	background-color: rgba(255, 255, 255, 0.666) !important;
	font-size: 24px;
}

.fullFooter #helper {
	text-align: end;
}

.helperDialog{
	height: 35px;
    background-color: transparent;
    border: none;
    padding: 2px 5px;
	margin-top: 80px;
    margin-right: 110px;
	float: right;
}

.helperDialog p {
	font-size: 11px;
	margin-left: -10px;
	margin-top: -28px;
}


/* CARROSSEL */
.carousel {
    width: 80%;
    height: 300px;
    background-color: #e7b67a;
	margin: 20px auto;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 20px;
}

.carousel p {
	width: 90%;
	padding: 15px 0 20px 20px;
}


/* CARTÕES */
.cardGroup {
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin: 20px auto;
}

.cardGroup button {
    width: 20%;
    height: 150px;
    margin-left: 2.5%;
	margin-right: 2.5%;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 10px;
	text-align: start;
}

.redButtons button {
    background-color: #d95032;
}

.yellowButtons button {
    background-color: #f2d272;
}

.cardGroup button small {
	margin-top: 10px;
}


/* FOOTER SIMPLES COM HELPER E DIÁLOGO */
.simpleFooter {
	width: 400px;
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
}

.simpleFooter a {
	margin: 0 -30px 0 0;
	padding: 10px;
}

.simpleFooter p {
	margin-top: -33px;
	margin-left: 15px;
}


/* BOTÃO DE VOLTAR */
.btnBack {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 50%;
	position: fixed;
	top: 10px;
	left: 20px;
	cursor: pointer;
}

.btnBack img {
	width: 40px;
}