body { background-image: url("./assets/backgrounds/city.svg"); }

.cover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover div article {
    max-width: 40vw;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #E39F91;
    color: #000;
    display: block;
}

.cover div div {
    padding: 80px 0 0 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

a button {
    width: 160px;
    height: 30px;
    color: #000;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#btn-login {
    background-color: #fff;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 999;
}

#btn-cadastro {
    background-color: #E3D37F;
}

#btn-start {
    background-color: #DA6B4E;
}