body {
	background-color: #c2c0c3;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment : fixed;
	background-image: url("/horadoevento/assets/backgrounds/city-default.jpg");
}

#formCadastroEmpresa { display: none; }

.redButton{ background-color: #d95032 !important; }