.evento-container {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 1000px; 
	height: 400px; 
	background-color: #f2d272;
}

.inscrever-botao {
	width: 220px; 
	height: 60px; 
	border: none;
	border-radius: 7px;
	position: absolute;
	right: 10;
}